.det{
    margin-left: 815px;
    color: black !important;
}
// .gogleMap {
//     background-color: aqua;
//     width: 850px;
//     height: 450px;
//     margin-top: -450px;
// }
.oo{
    font-size: 40px;
    color: black !important;
}
.h{
    color: black !important;
}