.det {
  width: 50vw;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 2%;
  background-color: #f8f9fa;
}
// .gogleMap {
//     background-color: aqua;
//     width: 850px;
//     height: 450px;
//     margin-top: -450px;
// }
.oo {
  font-size: 40px;
  color: black !important;
}
.h {
  color: black !important;
}
.carusel-myimg {
  height: 50vh;
}
.DetailsLable {
  font-family: inherit;
  display: inline;
}
label.DetailsLable {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #600047;
}
h1.DetailsLable {
  font-size: 1.6rem;
}
::-webkit-scrollbar {
  width: 0px;
}
