.ui.primary.button:hover, .ui.primary.buttons .button:hover {
    background-color: #81005F !important;
    color: #fff;
    text-shadow: none;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #C25DC2 !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
    width: 483px;
    height: 50px;
    margin-left: 568px;
    margin-right: 60px;
    margin-top: 106px;
}
.lableP{
    font-size: 27px;
    color: #81005F;
}