.imgCards{
    // width: 40vw;
    height: 55vh;
}
.cardiv{
    width: 48%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 10%;
}

//משנה את התמונות רק בf12
//אבל לא משנה כשאני מעתיקה לכאן
// img, svg {
//     vertical-align: middle;
//     margin-top: 20px;
//     width: 850px;
// }
// img {
//     width: 850px;
// }